@import "tailwindcss";

body {
  background-image: url('/pictures/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

body {
  font-family: 'Vollkorn', serif;
  background-image: url('/pictures/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

fieldset, legend, input, textarea, button {
  font-family: 'Vollkorn', serif;
}

legend {
  font-family: 'Cinzel', serif;
}

input, textarea {
  background-color: #fffbe6;
}

button {
  border-radius: 10px;
  border: 2px solid black;
  font-weight: bold;
}